@import 
  "bootstrap/bootstrap",
  "helpers/reset",
  "helpers/component",
  "helpers/default",
  "helpers/variables",
  "helpers/icons",
  "helpers/web-fonts",
  "helpers/popup",
  "helpers/fonts",
  "helpers/keyframes",
  "helpers/pageTransitions",
  "helpers/animate"
;
::selection {
  background: black; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: black; /* Gecko Browsers */
  color: white;
}
body{
    margin:0px 0px; 
    background-color: #F3F3F3;
    overflow-x: hidden;
}
html{
  font-family: Muli;
}
.row{
  margin: 0!important;
}
#hero{
  position:relative;
}
// NAVIGATION 
header#header{
  top: 0px;
  position: fixed;
  z-index:999999;
  background-color:rgba(250,250,250,1);
  border: 1px solid #f2f2f2;
  text-transform: uppercase;
  #logo{
    background-color: white;
    width: 55px;
    height: 55px;
    float: left;
    z-index: 99999;
    img{
      max-width: 78%;
      margin: 4px 0 0 4px;
    }
  }
  #navigation{
    float: left;
    height: 55px;
    z-index: -1;  
    position: relative;
    width: 445px;
    margin-left: -445px;
    ul {
      margin: 5px 0 0 20px;

      z-index:-1;
      li{
        float: left;
        width: auto;
        margin-right: 30px;
        text-align: center;
        font-size: 12px;

        a:link,
        a:visited,
        a:hover,
        a:active{
          color: black;
          display: block;
          padding: 17px 0 17px 0;
        }
        a:hover{
          text-decoration: none;
        }
      }
    }
  }
  #navClick{
    width: 55px;
    height: 55px;
    background-color: black;
    float: right;
    cursor: pointer;
    img {
      margin: 13px 0 0 14px;
    }
    #navIcon{
      position: relative;
      top: 19px;
      left: 17px;
      display: inline-block;
      width: 20px;
      padding-top: 4px;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #fff;
      cursor: pointer;
      backface-visibility: hidden;
    }
    #navIcon:before{
      display: block;
      margin-bottom: 4px;
      content: "";
      border-top: 3px solid #fff;
    }
  }
}
section#hero, section#hero-without-fullHeight{
  #logo{
    width: 100%;
    margin: 0 0 0 20px;
    padding: 0 !important;
    display: block;
      object{
        max-width: 250px;
        margin: 0 auto;
        display: block;
      }
  }
  .header{
    position:absolute;
    margin: 50px 0 0 0;
    top:50%;
    text-align:center;
    width:100%;
    color:black;
    font-size:36px;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  
    z-index: 2000;
    img{
       display: block;
       z-index:200;
       -webkit-transform:translate(-50%,-30%);
       -ms-transform: translate(-50%,-30%);
       transform: translate(-50%,-30%);
       transition: transform 1.4s cubic-bezier(.77,0,.175,1).1s;
       width: 30%;
       max-width: 350px;
       min-width: 150px;
       height: auto;
       left: 50%;
       top: 0;
       position: absolute;
       z-index: 200;
    }


  }
}
section#hero-without-fullHeight{
  min-height: 210px;

}
.defaultpage{
  .container-fluid{
    margin: -50px auto 0 auto !important;
  }
}
section#content, footer#footer{  
  background-color: white;
  padding: 100px 0 200px 0;
  margin: 0;
  position: relative;
  z-index:200;
  display: block;
  .container-fluid{
    position: relative;
    z-index: 200;
    text-align: center;
    margin: 50px auto 0 auto;

    h3{
      font-weight: 100;
      font-size: 12px;
      text-transform: uppercase;
    }
    h1{
      margin: 10px 0 0 0;
      font-size: 50px;
      text-transform: uppercase;
    }
    .line{
      max-width: 60px;
      width: 100%;
      height: 4px; 
      margin: 30px auto 0 auto;
      display: block;
      background-color: black;
    }
    .text{
      margin: 50px 0 0 0;
      line-height: 25px;
    }
    #contact{
      margin: 50px 0 0 0;
      section{
        padding-left: 0px !important;
      }
        .mod{
          margin: 0px !important;
        }
        form#form1{
          margin: 0 auto;
          max-width:420px;
          input{
            float: left;
            max-width: 200px;
            width: 100%;
            height: 30px;
            margin: 2px;
          }

          label{
             display: none;
          }
          textarea{
            max-width: 402px;
            width: 100%;
            height: 200px;
            margin: 2px 0 0 -13px;
          }
          input[type="submit"] {
            border: none;
            float: left;
            height: 30px;
            padding: 0;
            cursor: pointer;
            margin-right: 17px;
            clear: left;
            background-color: black !important;
            color: white !important;
            text-transform: uppercase;
            max-width: 402px;
            width: 100%;
            padding: 4px;
            transition: all 0.3s ease 0s;
          }
          input[type="submit"]:hover{
            background-color: #626262 !important;
            transition: all 0.3s ease 0s;
          }
        }
    }

  }
  #map{
    height: 500px;
    margin: 200px 0 0 0;
    img{
      width: 100% !important;
      height: auto !important;
    }
  }
}
section#content:before{
  content:'';
  position: absolute;
  display: block;
  height: 225px;
  width:120%;
  top: 0;
  z-index: 150;
  -webkit-transition: -webkit-transform 1.4s cubic-bezier(.77,0,.175,1).1s;
  -webkit-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  transition:transform 1.4s cubic-bezier(.77,0,.175,1).1s;
  position: absolute;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  left: 0;
  background-color: white;
}


footer#footer{
  background-color: #F3F3F3;
  padding: 100px 0 200px 0;
  margin: 0;
  position: relative;
  z-index:200;
  display: block;
  #socialmediaIcons{
    margin: 50px auto 50px auto;
    padding: 50px auto 50px auto;
    max-width: 250px;
    a:link,
    a:visited,
    a:hover,
    a:active{
        @include transition(all, 0.5s, ease-in-out);
        color: black;
        float: left;
        text-align: center;
        max-width: 50px;
        width: 100%;
        text-decoration: none;
    }
    a:hover{
      color: #b4b4b4;
      text-decoration: none;
      @include transition(all, 0.5s, ease-in-out);
    }
  }
  #text{
    clear: both;
    padding: 100px 0 0 0;
    font-weight: 900;
    font-size: 20px;
    a:link,
    a:visited,
    a:hover,
    a:active{
      color: black;
      text-decoration: underline;
    }
    a:hover{
      text-decoration: none;
    }

  }
}
footer#footer:before{
  content:'';
  position: absolute;
  display: block;
  height: 225px;
  width:120%;
  top: 0;
  z-index: 150;
  -webkit-transition: -webkit-transform 1.4s cubic-bezier(.77,0,.175,1).1s;
  -webkit-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  transition:transform 1.4s cubic-bezier(.77,0,.175,1).1s;
  position: absolute;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  left: 0;
  background-color: #F3F3F3;
}


/* The page heading */

@import
  "helpers/mediaqueries";
