@charset "UTF-8";

@font-face {
  font-family: "googleplus";
  src:url("../fonts/googleplus.eot");
  src:url("../fonts/googleplus.eot?#iefix") format("embedded-opentype"),
    url("../fonts/googleplus.woff") format("woff"),
    url("../fonts/googleplus.ttf") format("truetype"),
    url("../fonts/googleplus.svg#googleplus") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "googleplus" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "googleplus" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hup:before {
  content: "a";
  font-size: 40px;
}
.icon-hup-facebook:before {
  content: "b";
  font-size: 40px;
}
.icon-hup-insta:before {
  content: "c";
  font-size: 40px;
}
.icon-hup-mail:before {
  content: "d";
  font-size: 40px;
}
.icon-hup-twitter:before {
  content: "e";
  font-size: 40px;
}
