@media screen and (max-width: 820px){
  header{
    #navigation {
      overflow: visible !important;
      width: 200px !important;
      max-width: 200px !important;
      li {
        clear: both;
      }
    }
  }
}

@media screen and (max-width: 414px){
  form#form1{
    input{
      max-width: 1000px !important;
      margin: 2px 0 2px 0 !important;
      width: 98% !important
    }
    textarea{
      margin: 2px 0 2px 0 !important;
      width: 96% !important;
    }
  }
}
@media screen and (max-width: 425px){
  #contact_form{
      form#form1{
    input[type="submit"] {
      float: left !important;
    }
      }
    }
}